.logo{
    font-size: 2em;
    font-weight: 600;
}

.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #08a41d;
    padding: 10px;
}

.header__navigation ul{
    display: flex;
    align-items: center;
}

.header__navigation li{
    display: inline;
}

.navigation__link{
    color: #fff;
    margin: 10px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
}

.navigation__link:hover{
    font-size: 24px;
}

.heading{
    text-align: center;
    padding: 70px;
    background-color: #a2a2a2;
}

.heading h1{
    font-size: 48px;
}

.heading p{
    font-size: 24px;
}
